<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433

  Encriptar ConnectionStrings.
    aspnet_regiis.exe -pef "connectionStrings" "D:\Sources\c#\WebApplication2\WebApplication2" -prov "DataProtectionConfigurationProvider"

  Desencriptar ConnectionStrings.
    aspnet_regiis.exe -pdf "connectionStrings" "D:\Sources\c#\WebApplication2\WebApplication2"

  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" />
	</system.web>
	<system.webServer>
		<directoryBrowse enabled="true" />
	</system.webServer>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
	<connectionStrings configProtectionProvider="DataProtectionConfigurationProvider">
  <EncryptedData>
   <CipherData>
    <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAtWO5UgV9+UyEv7FqsssYVgQAAAACAAAAAAAQZgAAAAEAACAAAAA2SEpijXyXSyBz2rMVzQJ819IwDrh6IMzUD8sagqBfzwAAAAAOgAAAAAIAACAAAADkb3SFjvNYPPt00sEd5zMddbZLLSmPIpI1RD57Emj+b7ABAAATSSwk2+VDgf5sZFCYHw+XMHtitIqWNZp1H2VL2DVzi/fCfHMoybtm5zJ1U41o7ZeIK4GWgjh0YwFnPQ9vZdzz2uz7eSiGEkujknWEpH2QjZR36dMdsOGbCe9GdTo/yD8H+HfngEEZZEF/ndr+cEd6/KsW0TC+C57an+JvEeZB9BYDawsu36rUJM+8OoITJxyzSYB9yrUPyseSoEBaijYzioXkSJHpF0zI5IXLgIzoxVyx3sKp/3rK+v3OUSiAlACLw9KKL8KnpNfsSLJj/gSsZT/EokAHqc83VE3vCZTZbOyMrJqLPho6MHbffiKnq7LPK0IH8uAU7/EjPOyNcSDjDeOqRG77H+cdV3WBiIvA4zo88lcsgw3lfdVxYnmFt+uZ2pwa4Y6RZU0PoGIPoUHwadM40eIQYbXZR0sND8TN+su0ALrCq69ANp0knG9cQIR20GooFl6j/SZqX7tnCDivhAzYPpQWyCihvZ3ux+XpK7VdE+LSCLgyjM7ZLTzj98Da543buEp6p7mtoaIMkhusnI/42Hyg2ftmWRX+evuTU5bm/+8fA2Hme3AjZswuru1AAAAATKpoqJ6nV7Idbi+uaupjaEJWcU7OIMB3slSYeL7kz1AcbfJ5EaBFqZ4Fcx9JnVwPibD9b8dErnFjxDvL/5FjXA==</CipherValue>
   </CipherData>
  </EncryptedData>
 </connectionStrings>

</configuration>